*{
    margin: 0;
    padding: 0;
}

.h1taglogin{
    text-align: center;
    color: white;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.fom{
    background-color: #808080;
    padding: 2rem;
    border-radius: 10px;
}
.inp{
    width: 20rem;
    height: 2.5rem; 
    border-radius: 5px; 
    padding: .3rem;
    font-size: 1.3rem;
    border: 2.5px solid black;
    text-align: center;
}

.submit{
    width: 10rem;
    height: 2rem;
    border-radius: 10px; 
    border: 2px solid black; 
}

.nav{
    background-color: #000000;
}

.li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 2rem;
    color: white;
    padding: 2rem;
    margin-left: 1rem;
}