.edudetailstotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0E2954;
}

.educard{
    border: 2px solid black;
    margin: 2rem;
    border-radius: 10px;
    display: flex;
    color: white;
    background-color: #1B6B93;
}

.left img{
    width: 15rem;
    height:12rem;
    border-radius: 50px;
    float: left;
    padding: 2rem;
    background-color: #4FC0D0;
    margin-left: 1rem;
}

.right{
    width: 30rem;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 2rem;
}